cryptography
Django==2.2.9
django-cors-headers==3.2.0
django-extensions
django-rq==1.2.0
djangorestframework==3.11.0
djangorestframework-jwt
flake8
flake8-commas
gunicorn
isort
pip-tools
psycopg2==2.8.3
pyjwt
python-dotenv
requests-mock
requests
rq-scheduler==0.8.3
Werkzeug
